*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#navbar{
    display: flex;
    align-items: center;
    top: 0%;
    position: sticky;
    z-index: 1;
    font-family: 'Merriweather', serif;
}
#lg{
    margin: 10px 18px;
    
}
#lg img{
    width: 48px;
    height: 46px;
    margin: -20px 0px;
    z-index: -1;
}

#navbar::before{
    content: "";
    background-color: black;
    position:absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: .3; 
}
 #navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    
}
 #navbar ul li a{
     color: rgb(255, 255, 255);
     display: block;
    padding: 16px 30px;
    border-radius: 10px;
   text-decoration: none;
   
}
 #navbar ul li a:hover{
     color: rgb(0, 0, 0);
     background-color: rgb(231, 231, 231);
      opacity: 1; 
      transform: translate3d(0px, 5px, 0px);
      transition: .6s;      
}

#home{
    display: flex;
    flex-direction: column;
    padding: -8px 210px;
    height: 530px;
    justify-content: center;
    align-items: center;
    font-family: 'Fjalla One', sans-serif;
}
#home video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
#home img{
    top: 12%;
    width: 102px;
    height: 97px;
    margin: 0px 43px;
    z-index: 10;
    opacity: 3255;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bef8ff;
    mix-blend-mode: overlay;
}
#home h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 4rem;
    z-index: 1;
}
#home h1 span{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 4rem;
    z-index: 1;
}
#home p{
    text-align: center;
    font-size: 2rem;
    z-index: 1;
    
}
.showcase{ 
    position:relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    transition: 0.8s;
} 

.menu{
    position: absolute;
    top: 23%;
    left: 105%;
    width: 235px;
    height: 638px;
    align-items: center;
    justify-content: center;
}
.menu img{
    position: absolute;
    width: 133%;
    height: 113%;
    left: -76px;
    top: -166px;
    opacity: 0.8;
}
.menu ul {
    position: relative;
    list-style:disc;
    font-size: 25PX;
    margin: -93px -47px;
    padding: 19px 16px;
}
.menu ul li a {
    text-decoration:wavy;
    color: white;
}
.menu ul li a:hover{
    text-decoration:underline;
    color: rgb(117, 209, 255);
}
.cardcontainer{
    max-width: 1000px;
    margin: 1px 258px;
    padding: 0 0rem;
}
.cardcontainer img{
   width: 100%;
    margin: auto;
    padding: 0 2rem;
    overflow: auto;
}
.cardcontainer h3{
    font-size: 40px;
    text-align: center;
}
.cardcontainer p{
    font-size: 20px;
    padding: 11px;
}
.card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: rgb(243, 243, 243);
    grid-gap: 1rem;
    margin: 29px -221px;
}

.card img{
    height: 100%;
}
.h-primary{
    font-size: 3.8rem;
    padding: 11px;
    margin: 39px;
}
.btn{
    padding: 7px 23px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    margin: 40px;
    font-size: 1.3rem;
    cursor: pointer;
    z-index: 1;
    opacity: 1;
    transition: .3s;
    letter-spacing: 2px;
}
.btn:hover{
    display: inline-block;
    cursor: pointer;
    letter-spacing: 8px;
    visibility:inherit; 
    opacity: 1; 
    
}
.btn2{
    padding: 7px 23px;
    border: 2px solid rgb(226, 226, 226);
    border-radius: 8px;
    margin: 28px 206px;
    font-size: 1.3rem;
    cursor: pointer;
    z-index: 1;
    opacity: 1;
    transition: .3s;
    letter-spacing: 2px;
}
.btn2:hover{
    display: inline-block;
    cursor: pointer;
    letter-spacing: 8px;
    visibility:inherit; 
    opacity: 1; 
}
.center{
    text-align: center;
    margin: 2px;
}
.h-primary center{
    font-size: 71px;   
}
.h-secondary {
    font-size: 2.5rem;
    padding: 23px; 
}

#client-section{
height: 377px; 
position: relative;
}
#client-section::before{
content: "";
position: absolute;
background: url("./solar-system-439046_1920.jpg");
width: 100%;
height: 370px;
z-index: -7;
opacity: .5;
top: -9px;
}
#clients img{
    height: 130px;
}
#clients img:hover{
    background-color: rgb(219, 255, 255);
    transition: 0.5s;
}

#clients-item{
    padding: 37px;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .4;
    background: url("./business-idea.jpg");
}
footer{
    background-color: black;
    color: white;
    padding: 1px 34px;
}
#contact-box 
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.8rem;
    font-family: 'Fjalla One', sans-serif;
}
#contact-box input,
#contact-box textarea{
width: 91%;
padding: 1rem;
font-size: 1.2rem;
border-radius: 10px;
font-family: 'Fjalla One', sans-serif;
margin: 13px 1px;
}
@media(max-width:1400px){
    .btn2 {
        margin: 30px 169px;
    }
}
@media(max-width:1113px){
    .btn2 {
        margin: 30px 119px;
    }
}
@media(max-width:988px){
    .btn2 {
        margin: 30px 99px;
    }
    #home p{
        text-align: center;
        font-size: 22px;
        z-index: 1;
    }
    #clients-item {
        padding: 37px;
        margin: -14px -12px;
    }
    #clients img {
        height: 111px;
    }
}
@media(max-width: 861px){
    #home video {    
        width: 100%;
    }
    #client-section::before {   
        width: 100%;
        height: 370px;
    }
}
@media(max-width: 800px){
    #clients img {
        height: 96px;
    }
    .btn2 {
        margin: 30px 60px;
    }
    #home h1{
        font-size: 2.6rem;
        z-index: 1;
    }
    #home h1 span{
        font-size: 2.6rem;
        z-index: 1;
    }
}
@media(max-width: 700px){
    #home p{
        text-align: center;
        font-size: 22px;
        z-index: 1;
    }
    #home h1{
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 3rem;
        z-index: 1;
    }
    #home h1 span{
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 3rem;
        z-index: 1;
    }
     #home img { 
        top: 12%;
        width: 85px;
        height: 87px;
        margin: 0px 43px;
        z-index: 10;
        opacity: 3255;
        position: relative;
    } 

    .menu img {
        position: absolute;
        width: 100%;
        height: 102%;
        left: 235px;
        top: -166px;
        opacity: 0.8;
    }
    #home video{
    width: 100%;
    }
    #navbar::before {
        content: "";
        background-color: black;
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        opacity: .3;
    }
    #navbar ul li a {
        color: rgb(255, 255, 255);
        display: block;
        padding: 12px 30px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 15px;
    }
    #clients-item {
        padding: 37px;
        margin: -14px -12px;
    }
    #clients img {
        height:70px;
    }
    .btn2 {
        margin: 30px 47px;
    }
    .card {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        background: rgb(243, 243, 243);
        grid-gap: 1rem;
        margin: 26px -248px;
    }
}
@media(max-width: 559px){
    #home img {
        top: 12%;
        width: 90px;
        height: 87px;
        margin: 0px 43px;
        z-index: 10;
        opacity: 3255;
        position: relative;
    }
    #home h1{
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 3rem;
        z-index: 1;
    }
    #home h1 span{
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 3rem;
        z-index: 1;
    }
    #clients-item {
        padding: 37px;
        margin: -5px -20px;
    }
    #navbar ul li a {
        color: rgb(255, 255, 255);
        display: block;
        padding: 12px 30px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 12px;
    }
    .btn2 {
        padding: 7px 23px;
        border: 2px solid rgb(226, 226, 226);
        border-radius: 8px;
        margin: 26px 18px;
        font-size: 1.3rem;
        cursor: pointer;
        z-index: 1;
        opacity: 1;
        transition: .3s;
    }
}
@media(max-width: 511px){
    #navbar ul li a {
        color: rgb(255, 255, 255);
        display: block;
        padding: 12px 30px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 10px;
    }
    #lg img {
        width: 29px;
        height: 43px;
        margin: -21px -7px;
        z-index: -1;
    }
    #clients-item {
        padding: 37px;
        margin: -5px -28px;
    }
    .btn {
        padding: 7px 23px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 6px;
        margin: 19px;
        font-size: 0.8rem;
        cursor: pointer;
        z-index: 1;
        opacity: 1;
        transition: .3s;
        letter-spacing: 2px;
    }
    .btn2 {
        padding: 7px 23px;
        border: 2px solid rgb(226, 226, 226);
        border-radius: 8px;
        margin: 26px 18px;
        font-size: 1.3rem;
        cursor: pointer;
        z-index: 1;
        opacity: 1;
        transition: .3s;
    }
    #lg img {
        width: 29px;
    height: 44px;
    margin: -18px -7px;
    z-index: -1;
    }
}
@media(max-width: 485px){
    #lg img {
        width: 29px;
        height: 43px;
        margin: -21px -7px;
        z-index: -1;
    }
    #home img {
        top: 12%;
        width: 70px;
    }
    
    #navbar ul li a {
        font-size: 8px;
    }
    #navbar ul li {
        margin: -10px;
    }
    #lg img {
        width: 29px;
        height: 43px;
        margin: -21px -7px;
        z-index: -1;
    }
    .cardcontainer img {
        width: 91%;
        margin: auto;
        padding: 0 2rem;
        overflow: auto;
    }
    #clients img {
        height: 62px;
    }
   
}
@media(max-width:390px){
    #clients img {
        height: 44px;
    }
    #home img {
        top: 12%;
        width: 56px;
        height: 56px;
    }
    #home p{
        text-align: center;
        font-size: 16px;
        z-index: 1;
    }
    #home h1{
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 2rem;
        z-index: 1;
    }
    #home h1 span{
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 2rem;
        z-index: 1;
    }
    .btn2 {
        padding: 7px 23px;
        border: 2px solid rgb(226, 226, 226);
        border-radius: 8px;
        margin: 26px 5px;
        font-size: 1rem;
        cursor: pointer;
        z-index: 1;
        opacity: 1;
        transition: .3s;
    }
}
